@import "../scss/Utils.scss";
@import "../scss/Config.scss";

.Article-div{
    // background-color: aqua;
    width: 60%;
    padding: 1rem 0;

    .article-container{
        background-color: $base-color;
        padding: 1rem;
        width: 90%;
        border-radius: .5em;
        border: 0px 2px 4px 3px;
        margin-bottom: 2rem;
        .topic-div{
            margin-bottom: 1em;
        }

        .date-div{
            margin-bottom: 1.5em;
            display: flex;
            span{
                margin: 0 .5em;
            }
        }

        .showcase-div{
            // background-color: blue;
            padding: 1em 0;
            display: flex;
           
            .article-image{
                width: 30%;

                img{
                    width:180px;
                    height:180px;
                    object-fit:cover;
                }
            }
            .article-intro-div{
                width: 70%;
                .intro-div{

                    p{
                        line-height:1.5;
                        color: black;
                        // letter-spacing: 5px;
                        
                    }
                }

                .readmore-div{
                    margin-top: 1rem;
                    color: $base-color;
                    background-color: $header-footer;
                    border-radius: 1.5rem;
                    width: 30%;
                    text-align: center;
                    cursor: pointer;
                    padding: 1rem;
                }

                .readmore-div:hover{
                    background-color: $hover-color;
                    transition: all 1.5s ease-in; 
                }
            }
        }
    }

}