@import "../scss/Utils.scss";
@import "../scss/Config.scss";

.Article-div{
    // background-color: aqua;
    width: 60%;
    padding: 1rem 0;

    .article-container{
        background-color: $base-color;
        padding: 1rem;
        width: 90%;
        border-radius: .5em;
        border: 0px 2px 4px 3px;
        margin-bottom: 2rem;
        box-shadow:
            inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
        .topic-div{
            margin-bottom: 1em;
            h1{
                color: $header-footer;
            }
        }

        .date-div{
            margin-bottom: 1.5em;
            display: flex;
            
            span{
                margin: 0 .5em;
                font-size: small;
            }

          
        }

        .showcase-div{
            // background-color: blue;
            padding: 1em 0;
            display: flex;
           
            .article-image{
                width: 30%;

                img{
                    width:180px;
                    height:180px;
                    object-fit:cover;
                }
            }
            .article-intro-div{
                width: 70%;
                .topic-div{
                    h1{
                        text-align: start;
                    }
                }
                .intro-div{
                    p{
                        line-height:1.5;
                        color: black;
                        margin-left: -.2rem;
                        
                        
                        
                    }
                }

                .readmore-div{
                    margin-top: 1rem;
                    color: $base-color;
                    background-color: $header-footer;
                    border-radius: 1.5rem;
                    width: 30%;
                    text-align: center;
                    cursor: pointer;
                    padding: 1rem;
                    

                }
                .readmore-div:hover{
                    background-color: $hover-color;
                    transition: all 1.5s ease-in; 
                }

               
            }
        }
    }

}


@media screen and (max-width:1024px){
    .Article-div{
        width: 100%;

        .article-container{
            width: 100%;
        }
    }
}


@media all and (max-width:768px){
    .Article-div{
        // width: 100%;

        .article-container{
            width: 100%;
            
            .showcase-div{
                display: flex;
                flex-direction: column;
                .article-intro-div{
                    width: 90%;
                    margin-top: -1rem;
                }
                .article-image{
                    display: none;
                }
            }
        }
    }
}

@media all and (max-width:1200px) and (min-width:1024px){
    .Article-div{
        width: 100%;
        margin: 0 4rem;

        .showcase-div{
                .article-image{
                    width: 30%;
                    
                    img{
                        width:250px;
                        height:250px;
                        object-fit:cover;
                    }
                }

                .article-intro-div{
                    margin-left: -4rem;
                }
        }
        
    }
}


@media all and (max-width:500px){
    .Article-div{
        .article-container{
            width: 80%;
            margin: 2rem auto;
            .topic-div{
                h1{
                    font-size: large;
                    text-align: start;
                }
            }

            .showcase-div{
                .article-intro-div{
                    width: 100%;
                    .intro-div{
                        p{
                            width: 100%;
                            margin-left: -.2rem;
                        }
                    }
                    .readmore-div{
                        width: 45%;
                    }
                }
                
            }
        }
    }
}


@media screen and (max-width:500px){
    .article-container{
        .topic-div{
            .date-div{
                span{
                    font-size: small;
                    color: red;
                }
                .last-span{
                    display: block;
                }
            }
        }
    }
    
}