.Article-div {
  width: 60%;
  padding: 1rem 0;
}
.Article-div .article-container {
  background-color: #fff;
  padding: 1rem;
  width: 90%;
  border-radius: 0.5em;
  border: 0px 2px 4px 3px;
  margin-bottom: 2rem;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.Article-div .article-container .topic-div {
  margin-bottom: 1em;
}
.Article-div .article-container .topic-div h1 {
  color: #002538;
}
.Article-div .article-container .date-div {
  margin-bottom: 1.5em;
  display: flex;
}
.Article-div .article-container .date-div span {
  margin: 0 0.5em;
  font-size: small;
}
.Article-div .article-container .showcase-div {
  padding: 1em 0;
  display: flex;
}
.Article-div .article-container .showcase-div .article-image {
  width: 30%;
}
.Article-div .article-container .showcase-div .article-image img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Article-div .article-container .showcase-div .article-intro-div {
  width: 70%;
}
.Article-div .article-container .showcase-div .article-intro-div .topic-div h1 {
  text-align: start;
}
.Article-div .article-container .showcase-div .article-intro-div .intro-div p {
  line-height: 1.5;
  color: black;
  margin-left: -0.2rem;
}
.Article-div .article-container .showcase-div .article-intro-div .readmore-div {
  margin-top: 1rem;
  color: #fff;
  background-color: #002538;
  border-radius: 1.5rem;
  width: 30%;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
}
.Article-div .article-container .showcase-div .article-intro-div .readmore-div:hover {
  background-color: #00aaff;
  transition: all 1.5s ease-in;
}

@media screen and (max-width: 1024px) {
  .Article-div {
    width: 100%;
  }
  .Article-div .article-container {
    width: 95%;
  }
}
@media all and (max-width: 768px) {
  .Article-div .article-container {
    width: 90%;
  }
  .Article-div .article-container .showcase-div {
    display: flex;
    flex-direction: column;
  }
  .Article-div .article-container .showcase-div .article-intro-div {
    width: 80%;
    margin-top: -1rem;
  }
  .Article-div .article-container .showcase-div .article-image {
    display: none;
  }
}
@media all and (max-width: 1200px) and (min-width: 1024px) {
  .Article-div {
    width: 100%;
    margin: 0 4rem;
  }
  .Article-div .showcase-div .article-image {
    width: 30%;
  }
  .Article-div .showcase-div .article-image img {
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Article-div .showcase-div .article-intro-div {
    margin-left: 0rem;
  }
}
@media all and (max-width: 500px) {
  .Article-div .article-container {
    width: 80%;
    margin: 2rem auto;
  }
  .Article-div .article-container .topic-div h1 {
    font-size: large;
    text-align: start;
  }
  .Article-div .article-container .showcase-div .article-intro-div {
    width: 100%;
  }
  .Article-div .article-container .showcase-div .article-intro-div .intro-div p {
    width: 100%;
    margin-left: -0.2rem;
  }
  .Article-div .article-container .showcase-div .article-intro-div .readmore-div {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .article-container .topic-div .date-div span {
    font-size: small;
    color: red;
  }
  .article-container .topic-div .date-div .last-span {
    display: block;
  }
}/*# sourceMappingURL=Article.css.map */