@import "../scss/Utils.scss";
@import "../scss/Config.scss";


.Category-div{
    width: 40%;
    padding: 1rem 2rem;
    margin:0 auto;

    h1{
        color: $header-footer;
        text-align: center;
        margin: -1rem auto 1rem auto;
    }

    .topics-div{
        display: grid;
        grid-template-columns: repeat(2,200px);
       
        grid-gap: 10px;
        padding: 10px 0;
        // background-color: blue;
        .topics-category{
            display: flex;
            justify-content: center;
            margin: 0 .3rem;
            border-radius: 1.5rem;
            background-color: $header-footer;
            padding: .3rem;
            // width: 30%;
            
    
            h4{
                // line-break: auto;
                text-align: center;
                color: $base-color;
                text-transform: capitalize;
            }
            span{
                margin: 0 .5rem;
                text-align: center;
                background-color: $base-color;
                padding: .1rem;
                border-radius: 50%;
                color: $hover-color;
                font-size:small;
                text-align: center;
            }
        }

        .topics-category:hover{
            background-color: $hover-color;
        }
   
    }

    
}

@media all and (max-width:1200px) and (min-width:650px){
    .Category-div{
        width: 80%;
        .topics-div{
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 10px;
        }
    }
}


@media all and (max-width: 649px) and (min-width: 501px){
    .Category-div{
        width: 80%;

        .topics-div{
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-gap: 10px;
        }
    }
}


@media all and (max-width: 500px){
    .Category-div{
        width: 80%;
        padding-left: 0;
        h1{
            width: 100%;
            text-align:center;
        }
        .topics-div{
            display: grid;
            grid-template-columns: repeat(1, auto);
            grid-gap: 10px;
            width: 100%;
            .topics-category{
                width: 80%;
                margin: 0 auto;
                padding: .5rem;
            }
        }
    }
}