@import '../scss/Config.scss';
@import '../scss/Utils.scss';

.Contact-div{
    width: 65%;
    .contact-div1{
        margin-bottom: 1rem;
        h1{
            font-size: large;
        }
    }
    .date-div{
        margin-bottom: 1.5rem;
        display: flex;
        span{
            margin: 0 .5rem;
        }
    }

    .contact-body{
        
        p:first-child{
            width: 100%;
            margin:0 auto;
        }
        .last-paragraph{
            width: 80%;
            background-color: $header-footer;
            border-left: 5px solid $hover-color;
            padding: 1rem;
            color: $base-color;
            font-size: larger;
            margin-bottom: 2rem;
            .profile-link{
                margin-right: 2rem;
                font-size: xx-large;
            }

            .profile-link:hover{
                @include transform-hover;
            }
        }
    }

    .contact-form{
        width: 90%;
        margin: 2rem 0;
        h2{ 
            text-align: center;
            font-size: large;
        }
        form{
            width: 100%;
            input{
                width: 100%;
                margin: 1rem 0;
                padding: 1rem;
                outline: none;
                border: 2px solid $hover-color;
                font-size: larger;
            }

            textarea{
                columns: 30;
                outline: none;
                border: 2px solid $hover-color;
                max-width: 100%;
                padding: 1rem;
                font-size: larger;
            }

            button{
                display: block;
                margin: 1rem auto;
                padding: 1rem 2rem;
                border: 2px solid $hover-color;
                cursor: pointer;
            }

            
            button:hover{
                background-color: $header-footer;
                color: $base-color;
                border: none;
                transition: all 1s ease-in-out;
            }

            button:focus{
                background-color: $header-footer;
                color: $base-color;
                border: none;
            }
        }
    }
}



@media all and (max-width:515px){
    .Contact-div{
        width: 90%;
        margin: 2rem auto;

        .contact-div1{
            h1{
                width: 100%;
                font-size: larger;
            }
        }
        .date-div{
            width: 100%;
            margin-left: 1rem;
        }
        .contact-body{
            p{
                width: 100%;
            }
            .last-paragraph{
                width: 80%;
                margin: 0 auto;
                .profile-link{
                    font-size: large;
                    a{
                        font-size: large;
                    }
                }
            }
        
            p:first-child{
                width: 90%;
            }
        }
    }
}

@media all and (max-width:1250px) and (min-width: 516px){
    .Contact-div{
        width: 80%;
        margin: 2rem auto;

        .contact-body{
            .last-paragraph{
                width: 80%;
            }
        }
    }
}

