@import '../scss/Config.scss';
@import '../scss/Utils.scss';


.App-header{
    .Center-header {
        width:100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .welcome-div{
            h1{
                width: 100%;
                margin: 0 auto;
                text-transform: uppercase;
                font-size: 8rem;
                margin: 0 0 .5rem 0;
            }

            h3{
                width: 80%;
                margin: 0 auto;
                padding: 0 3em;
                // text-transform: uppercase;
                font-size: 2rem;
                margin: 0 0 .5rem 0;
            }
        }

        .form-div{
            margin-top: 1.5em;
            padding: 1em 0;
            width: 75%;
            form{
                width: 100%;
                padding: 1em 2em;
    
                input{
                    padding: 2em 0;
                    border: none;
                    font-size: large;
                    width: 80%;
                    border-radius: .5em;
                    text-align: center;
                    outline: none;
                }

                input:focus{
                    border: none;
                   
                }
    
                button{
                    padding: 2.5em 0;
                    border: none;
                    width: 10%;
                    border-radius: .5em;
                    cursor: pointer;
                    .search-icon{
                        font-size: large;
                       
                    }
    
                }

                button:active{
                    transform: scaleY(1.05);
                    transition: cubic-bezier(0.215, 0.610, 0.355, 0);
                }

                
                button:focus{
                    background-color: $hover-color;
                    color: $base-color;
                }
            }
        }
      
    
        
    }
}