@import "../scss/Config.scss";
@import "../scss/Utils.scss";

.Outer-div {
    background-color: $header-footer;
    color: $base-color; 
    width: 100%;
    .Nav{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 1rem;
        .Nav-logo{
            color: $base-color;
            font-size: xx-large;
            width: 15%;
            .nav-link:hover{
            @include transform-hover;
            }
        }
        .Nav-links{
            // margin: 0 auto;
            margin-top: -10px;
            display: flex;
            justify-content: space-evenly;
            padding: 1em;
            width: 80%;
            .Nav-center {
                ul{
                    display: flex;
                    li {
                        margin: 0 1em;
                        list-style: none;
                        color: $base-color;
                        font-size: x-large;

                        .nav-link:hover{
                            color: $hover-color;
                        }

                        
                    }
                }

                .close-btn{
                    display: none;
                }
                
            } 

            .Nav-right {
                display: flex;
                .Ext-link{
                    margin: 0 1rem;
                    font-size: x-large;
                    color: $hover-color;
                }

                .Ext-link:hover{
                    @include transform-hover;
                }
            }

        }
        .hamburger{
            // margin: 1rem;
            display: none;
            :hover{
                @include transform-hover;
            }
            .toggle{
                font-size: xx-large;
                cursor: pointer;
                margin-top:-1rem ;
            }
        }
    }
}



@media screen and (max-width:768px) {
    .Outer-div{
        width: 120%;
        .Nav{
            display: flex;
            justify-content: space-around;
            
            .Nav-links{
                display: none;
                transform: translateX(100%);
                transition: transform 1.5s ease;
                .Nav-center{
                    ul{
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;

                        li{
                            margin: 2rem;
                            color: $hover-color;

                            .nav-link:hover{
                                color: $header-footer;
                            }
                        }
                    }

                     .close-btn{
                    display: block;
                    margin-right: -6rem;
                    .hamburger-close{
                        font-size: xx-large;
                        color: white;
                        cursor: pointer;
                        :hover{
                            color: white;
                        }
                    }
            
                }   
                }

                .Nav-right{
                    margin-bottom: 4rem;
                    text-align: center;
                    margin-left: 1rem;
                    padding: 0;
                }
            }

            .open{
                position: absolute;
                top: 0;
                left: 20%;
                background-color: $hover-color;
                right: 0;
                height: 100vh;
                width: 90%;
                z-index: 100;
                display: flex;
                flex-direction: column;
                transform: translateX(0%);
                transition: transform 1s cubic-bezier(0.1, 0.7, 1.0, 0.1);
                // transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
                // .close-btn{
                //     display: block;
                //     margin-right: -6rem;
                //     .hamburger-close{
                //         font-size: xx-large;
                //         color: white;
                //         cursor: pointer;
                //         :hover{
                //             color: white;
                //         }
                //     }
            
                // }   
            }

            .close{
                transform: translateX(-100%);
                transition: transform 1s cubic-bezier(0.1, 0.7, 1.0, 0.1);

            }

           
            .hamburger{
                display: block;
                margin: 1rem;
            }
        }
    }
}
@media screen and (min-width:769px){
    .Outer-div{
        .Nav{
            .Nav-links{
                .Nav-right{
                    .fa-large{
                        display: none;
                    }
                }
                .Nav-center{
                    ul{
                        li{
                            .home{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}





