.Error{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .error-logo{
        display: flex;
    
        .logo{
            color: red;
            font-size: xx-large;
        }

        h1{
            margin-left: .5rem;
        }
    }
     
    p{
        overflow-x: hidden;
        margin: 1rem 0;
    }
}

